.cart {
  @include page-padding-vert;
  @include container;
  display: grid;
  grid-template-columns: 2.5fr 1.25fr;
  grid-gap: 1rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: lighten(#000, 25);
  }

  &__table {
    &__image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 3px;
    }

    &__title {
      font-weight: 500;
    }

    &__icon {
      &--checked {
        color: $color-success;
      }

      &--closed {
        color: $color-danger;
      }
    }
  }

  &__checkout {
    &__title {
      font-size: 1.25rem;
      font-weight: 500;
      color: lighten(#000, 25);
    }

    &__item {
      margin-bottom: 0.5rem;
      position: relative;

      span {
        font-weight: 500;
      }

      &::before {
        content: ".";
        font-size: 2rem;
        position: absolute;
        left: -0.65rem;
        top: -1.45rem;
      }
    }

    &__total {
      text-align: right;
      font-size: 1.15rem;
      font-weight: 500;
      color: $color-success;
    }
  }
}
