.cart {
  @include page-padding-vert;
  display: grid;
  grid-template-columns: 3fr 1fr;

  &__table {
    &__image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 3px;
    }

    &__title {
      font-weight: 500;
    }

    &__icon {
      &--checked {
        color: $color-success;
      }

      &--closed {
        color: $color-danger;
      }
    }
  }
}
