.home {
  @include page-padding-vert;

  &__lead {
    background-color: $color-lightgrey;
    padding: 4rem;
    margin-bottom: 2rem;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-items: center;
  }
}
