.login {
  @include page-padding-vert;
  display: flex;
  justify-content: center;

  &__form {
    width: 85%;
    max-width: 30rem;

    &__heading {
      margin-bottom: 1rem;
    }

    &__input {
      margin-bottom: 1rem;
    }

    &__btn {
      margin-bottom: 0.5rem;
    }

    &__forgot {
      display: block;
      text-align: end;
    }
  }
}
