.login {
  display: flex;
  justify-content: center;

  &__form {
    width: 85%;
    max-width: 30rem;

    &__heading {
      margin-bottom: 1rem;
    }

    &__input {
      margin-bottom: 1rem;
    }
  }
}
