.product {
  @include container;
  @include page-padding-vert;
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: 2rem;

  &__left {
    &__images {
      &__item {
        display: block !important;
        width: 100% !important;
        object-fit: cover !important;
      }

      .slide img {
        height: 500px !important;
      }

      .thumb img {
        height: 50px !important;
      }

      margin-bottom: 1rem;
    }
  }

  &__information {
    &__lead {
      background-color: $color-lightgrey;
      padding: 2rem;
      margin-bottom: 1rem;

      h1 {
        font-size: 1.75rem;
        text-align: center;
        font-weight: bold;
        color: lighten(#000, 25);

        span {
          color: $color-success;
        }
      }
    }

    &__ratings {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      &__count {
        margin-left: 0.5rem;
        color: lighten(#000, 25);
      }
    }
  }

  &__similar {
    grid-column: 1 / 3;

    &__title {
      text-align: center;
      font-size: 1.25rem;
      font-weight: bold;
      color: lighten(#000, 25);
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;
      grid-gap: 1rem;

      &__not-found {
        grid-column: 1 / 4;
        font-size: 1rem;
        color: lighten(#000, 25);
      }
    }
  }
}
