.shop {
  @include page-padding-vert;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;

  &__control {
    padding: 1rem;

    &__title {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      color: lighten(#000, 25);
      text-align: center;
    }

    &__menu {
      // Price filter
      &__price {
        &__slider {
          padding: 0 1rem;
        }
      }

      // Category filter
      &__categories-check {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        &__item {
          &:not(:last-of-type) {
            margin: 0 0 0.5rem 0 !important;
          }

          &:last-of-type {
            margin: 0 !important;
          }
        }
      }

      // Star ratings
      &__stars {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        &--min {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

          p {
            margin-bottom: 0.75rem;
          }
        }

        &--max {
          display: flex;
          flex-direction: column;

          p {
            margin-bottom: 0.75rem;
          }
        }
      }

      // subs filter
      &__sub-category {
        padding: 1rem;
      }
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: flex-start;
    justify-items: center;

    &__not-found {
      grid-column: 1 / 4;
      color: lighten(#000, 25);
    }
  }
}
