.shop {
  @include page-padding-vert;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;

  &__control {
    padding: 1rem;

    &__title {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      color: lighten(#000, 25);
      text-align: center;
    }

    &__menu {
      // Price filter
      &__price {
        &__slider {
          padding: 0 1rem;
        }
      }
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;

    &__not-found {
      grid-column: 1 / 4;
      color: lighten(#000, 25);
    }
  }
}
