.shop {
  @include page-padding-vert;
  display: grid;
  grid-template-columns: 1fr 3fr;

  &__control {
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;

    &__not-found {
      grid-column: 1 / 4;
      color: lighten(#000, 25);
    }
  }
}
