.user-wishlist {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-gap: 1rem;

  &__item {
    border: 1px solid lighten(#000, 85);
    border-radius: 3px;
    overflow: hidden;
    position: relative;

    &__img {
      width: 100%;
      height: 125px;
      object-fit: cover;
    }

    &__content {
      padding: 1rem 2rem;
      text-align: center;
    }

    &__close {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }
  }
}
