.create-products {
  width: 70%;
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 1rem;

    textarea {
      margin-bottom: 0; // Overwrite antd styles
    }
  }

  &__button {
    align-self: flex-start;
  }
}
