.admin-product-card {
  overflow: hidden;

  .ant-card-meta-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image {
    height: 200px;
    object-fit: cover;
  }

  &__edit-icon {
    color: $color-warning !important;
  }

  &__delete-icon {
    color: $color-danger !important;
  }

  &__ratings {
    margin-top: 0.5rem;

    &__count {
      margin-left: 0.5rem;
      color: lighten(#000, 25);
    }
  }
}
