.update-product {
  &__images {
    display: flex;

    &__item {
      width: 120px;
      height: 120px;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      &:not(:last-child) {
        margin-right: 10px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      button {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}
