.update-product {
  width: 70%;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 1rem;
  }

  &__input {
    margin-bottom: 1rem;

    textarea {
      margin: 0;
    }
  }

  &__button {
    align-self: flex-start;
  }

  &__images {
    display: flex;
    margin-bottom: 1rem;

    &__item {
      width: 120px;
      height: 120px;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      &:not(:last-child) {
        margin-right: 10px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      button {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}
