.product-info {
  &__card {
    &__description {
      margin-bottom: 1rem;
    }

    &__inner {
      &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        &__tags {
          display: flex;
        }

        .ant-tag {
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    &__actions {
      &--cart {
        color: $color-success !important;
      }

      &--heart {
        color: $color-danger !important;
      }

      &--star {
        color: $color-warning !important;
      }
    }
  }
}
