.drawer {
  .ant-drawer-body {
    padding-top: 3rem;
  }

  &__image {
    margin-bottom: 0.5rem;

    img {
      display: block;
      height: 150px;
      width: 100%;
      object-fit: 100%;
      border-radius: 3px;
    }
  }

  &__to-cart {
    width: 100%;
  }
}
