@import "~antd/dist/antd.css";
@import "./browserResets.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

// Variables
$xs: 576px; // <=567px Phones Portrait
$sm: 768px; // <=768px Phones Landscape
$md: 992px; // <=992px Tablets
$lg: 1200px; // <=1200px Desktops

$color-warning: #ffc53d;
$color-danger: #ff4d4f;

// Mixins
@mixin container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (max-width: $xs) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@mixin page-padding-vert {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (max-width: $xs) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

// ui
@import "./components/ui/Header.scss";
@import "./components/ui/ImageUploader.scss";

// User components
@import "./components/user/Password.scss";

// Admin components
@import "./components/admin/categories/Categories.scss";
@import "./components/admin/categories/UpdateCategory.scss";
@import "./components/admin/categories/CategoryTag.scss";
@import "./components/admin/subs/Subs.scss";
@import "./components/admin/subs/SubTag.scss";
@import "./components/admin/products/CreateProducts.scss";
@import "./components/admin/products/Products.scss";
@import "./components/admin/products/ProductCard.scss";
@import "./components/admin/products/UpdateProduct.scss";
@import "./components/admin/categories/CreateCategory.scss";
@import "./components/admin/subs/CreateSub.scss";

// Auth pages
@import "./pages/Register.scss";
@import "./pages/RegisterComplete.scss";
@import "./pages/Login.scss";
@import "./pages/ForgotPassword.scss";

// User page
@import "./pages/user/User.scss";

// Admin page
@import "./pages/admin/Admin.scss";
