@import "~antd/dist/antd.css";
@import "./browserResets.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

// Variables
$xs: 576px; // <=567px Phones Portrait
$sm: 768px; // <=768px Phones Landscape
$md: 992px; // <=992px Tablets
$lg: 1200px; // <=1200px Desktops

$color-warning: #ffc53d;
$color-danger: #ff4d4f;
$color-success: #73d13d;
$color-cyan: #36cfc9;
$color-lightgrey: #eee;

// Mixins
@mixin container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (max-width: $xs) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@mixin page-padding-vert {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (max-width: $xs) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

// Auth pages
@import "./pages/Register.scss";
@import "./pages/RegisterComplete.scss";
@import "./pages/Login.scss";
@import "./pages/ForgotPassword.scss";

// Home page
@import "./pages/home.scss";

// Product page
@import "./pages/Product.scss";

// Shop page
@import "./pages/Shop.scss";

// Cart page
@import "./pages/Cart.scss";

// Category page
@import "./pages/Cateogry.scss";

// Sub page
@import "./pages/Sub.scss";

// User page
@import "./pages/user/User.scss";

// Admin page
@import "./pages/admin/Admin.scss";

// User components
@import "./components/user/Password.scss";

// Admin components
@import "./components/admin/categories/Categories.scss";
@import "./components/admin/categories/CreateCategory.scss";
@import "./components/admin/categories/UpdateCategory.scss";
@import "./components/admin/categories/CategoryTag.scss";

@import "./components/admin/subs/Subs.scss";
@import "./components/admin/subs/CreateSub.scss";
@import "./components/admin/subs/SubTag.scss";

@import "./components/admin/products/Products.scss";
@import "./components/admin/products/CreateProducts.scss";
@import "./components/admin/products/UpdateProduct.scss";
@import "./components/admin/products/ProductCard.scss";

// Home components
@import "./components/home/ProductCard.scss";
@import "./components/home/NewArrivals.scss";
@import "./components/home/BestSellings.scss";
@import "./components/home/Categories.scss";
@import "./components/home/Subs.scss";

// Product components
@import "./components/Product/ProductInfo.scss";

// ui
@import "./components/ui/Header.scss";
@import "./components/ui/ImageUploader.scss";
@import "./components/ui/Typewriter.scss";
@import "./components/ui/LoadingCards.scss";
