.new-arrivals {
  &__lead {
    background-color: $color-lightgrey;
    padding: 2rem 2rem;
    margin-bottom: 1rem;

    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    margin-bottom: 1rem;
  }

  &__pagination {
    text-align: center;
  }
}
