.product-card {
  overflow: hidden;
  max-width: 300px;

  .ant-card-meta-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image {
    height: 200px;
    object-fit: cover;
  }

  &__eye-icon {
    color: $color-cyan !important;
  }

  &__cart-icon {
    color: $color-success !important;
  }

  &__out-of-stock {
    color: $color-danger !important;
  }

  &__ratings {
    margin-top: 0.5rem;

    &__count {
      margin-left: 0.5rem;
      color: lighten(#000, 25);
    }
  }
}
